<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ITIS study – Создание поста</title>
	<link rel="stylesheet" href="{% static 'css/create_post_style6.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "{% url 'feed_url' %}"><img src = "{% static 'img/logo.png' %}"><div id = "logo_text"><span>IT</span> stud</div></a>
		</div>
		<div class = "create_post">
			<a href="{% url 'create_post_url' %}"><span>Создать пост</span><img src = "{% static 'img/asteroid.png' %}"></a>
		</div>
		<div class = "user">
			<a href="{% url 'profile_url' %}"><span>{{ username }}</span><img src = "{% static 'img/mini-astronaut.png' %}"></a>
		</div>
	</header>
	<div class="main-form">
		<form method="post" action="{% url 'create_post_url' %}">
            {% csrf_token %}
			<div class="text">
				<label for="text">Название поста:</label><br>
				<input type="text" name="title" placeholder="Теорема Дирака">
			</div>
			<div class="subject">
				<label for="object">Предмет:</label><br>
                <select id="select" name="subject">
                    {% for course_subj in subjects %}
                        <option disabled>{{ course_subj.first.course_number }}  курс</option>
                        {% for subj in course_subj %}
                            <option>{{ subj }}</option>
                        {% endfor %}
                    {% endfor %}
				</select>
			</div>
			<div class="content">
				<label for="course">Содержание:</label><br>
				<textarea name="content" placeholder="Теорема Дирака. Если в графе G(V, E)..."></textarea>
			</div>
			<button type="submit">Опубликовать</button>
		</form>
	</div>
</body>
</html>