<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ITIS study – Пост №1</title>
	<link rel="stylesheet" href="{% static 'css/post_style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "{% url 'feed_url' %}"><img src = "{% static 'img/logo.png' %}"><div id = "logo_text"><span>IT</span> stud</div></a>
		</div>
		<div class = "create_post">
			<a href="{% url 'create_post_url' %}"><span>Создать пост</span><img src = "{% static 'img/asteroid.png' %}"></a>
		</div>
		<div class = "user">
			<a href="{% url 'profile_url' %}"><span>{{ username }}</span><img src = "{% static 'img/mini-astronaut.png' %}"></a>
		</div>
	</header>
	<div id="post" onclick="changeColor()">
		<div class="title">
			<p>{{ post.title }}</p>
		</div>
		<div class="content">
			<p>{{ post.content }}</p>
            <p>
                {% if owner == 'True' %}
                    <a href="{% url 'post_edit_url' post_slug=post.slug %}">Редактировать запись</a>
                {% endif %}
            </p>
		</div>
		<div class="autor">
			<p>by {{ post.author }} {{ post.published }}</p>
		</div>
		<div class="likes">
            <form id="form" class="card-link" action="{% url 'like-post' %}" method="POST">
                <p>Оценили: <span>{{ post.likes.all.count }}</span></p>
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                {% if user not in post.likes.all %}
                    <a href="#" onclick="document.getElementById('form').submit();
                    return false;"><img src = "{% static 'img/like.png' %}"></a>
                {% else %}
                    <a href="#" onclick="document.getElementById('form').submit();
                    return false;"><img src="{% static 'img/liking.png' %}"></a>
                {% endif %}
            </form>
		</div>
	</div>
		<script>
			window.onload = function() {
				var colors = ["5px 5px 5px #F00, -5px -5px 5px #F00, -5px 5px 5px #F00, 5px -5px 5px #F00",
                    "5px 5px 5px #00F, -5px -5px 5px #00F, -5px 5px 5px #00F, 5px -5px 5px #00F",
                    "5px 5px 5px #FF0, -5px -5px 5px #FF0, -5px 5px 5px #FF0, 5px -5px 5px #FF0",
                    "5px 5px 5px #0FF, -5px -5px 5px #0FF, -5px 5px 5px #0FF, 5px -5px 5px #0FF",
                    "5px 5px 5px #F0F, -5px -5px 5px #F0F, -5px 5px 5px #F0F, 5px -5px 5px #F0F"];
				var rand = Math.floor(Math.random() * colors.length);
				document.getElementById("post").style.boxShadow = colors[rand];
			}
		</script>
</body>
</html>