<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ITIS study – Профиль</title>
	<link rel="stylesheet" href="{% static 'css/profile_page_style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "{% url 'feed_url' %}"><img src = "{% static 'img/logo.png' %}"><div id = "logo_text"><span>IT</span> stud</div></a>
		</div>
		<div class = "create_post">
			<a href="{% url 'create_post_url' %}"><span>Создать пост</span><img src = "{% static 'img/asteroid.png' %}"></a>
		</div>
		<div class = "user">
			<a href="{% url 'profile_url' %}"><span>{{ profile.user.username }}</span><img src = "{% static 'img/mini-astronaut.png' %}"></a>
		</div>
	</header>
	<div class = "information_about_user">
		<div class = "main_information">
			<img src = "{% static 'img/astronaut.png' %}">
			<div>
				<p>{{ profile.user.username }}</p> <!-- максимальное количесво символов - 10 -->
				<p>Курс: {{ course }}</p>
			</div>
		</div>
		<div class = "add_information">
			<p>Статистика пользователя:</p>
			<p>В космосе с: {{ profile.registration_date }}</p>
			<p>Создано постов за время: {{ post_count }}</p>
			<p>Количество понравившихся постов: {{ like_count }}</p>
		</div>
	</div>
	<div class = "buttons">
		<p><a href="{% url 'profile-edit_url' %}"><img src = "{% static 'img/settings.png' %}"><span>Редактировать</span></a></p>
		<p><a href="{% url 'logout_url' %}"><img src = "{% static 'img/planet.png' %}"><span>Выйти</span></a></p>
	</div>
</body>
</html>