@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@font-face{
	font-family: "Intro";
	src: url("../font/Intro-reg.ttf");
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(../img/bg_2.jpg);
	background-size: 100%;
	background-repeat: repeat-y; 
}

header {
	width: 100%;
	height: 4.5vw;
	background-color: #020202;
	position: fixed;
	top: 0vw;
	z-index: 2;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

header #logo {
	display: inline-block;
	margin-left: 5vw;
	margin-top: 0.1vw;

}

header #logo a{
	text-decoration: none;
	font-family: Mukta;	
}

header #logo a img {
	width: 4vw;
	height: 4vw;
}

header #logo #logo_text {
	position: relative;
	display: inline-block;
	top: -1.1vw;
	color: white;
	font-size: 3vw;
	font-weight: 600;
	word-spacing: -0.5vw;
	letter-spacing: 0.6vw;
}

header #logo #logo_text span {
	color: #DB0D3B;
}



header .create_post {
	display: inline-block;
	position: relative;
	top: -0.7vw;
	margin-left: 50vw;
}

header .create_post img {
	width: 2.5vw;
	height: 2.5vw;
}

header .create_post a {
	text-decoration: none;
	font-size: 1.6vw;
	color: white;
}

header .create_post a:hover {
	color: #AAA;
}

header .create_post a span {
	position: relative;
	top: -0.6vw;
	margin-right: 0.5vw;
	font-family: Intro;
}



header .user {
	display: inline-block;
	position: relative;
	top: -0.7vw;
	margin-left: 2vw;
}

header .user img {
	position: relative;
	width: 2.5vw;
	height: 2.5vw;
}

header .user a {
	text-decoration: none;
	font-size: 1.6vw;
	color: white;
}

header .user a:hover {
	color: #AAA;
}

header .user a span {
	position: relative;
	top: -0.6vw;
	margin-right: 0.8vw;
	font-family: Intro;
}

.information_about_user {
	display: inline-block;
	margin-top: 13vw;
	margin-left: 15vw; 
	width: 40vw;
	height: 30vw;
	margin-bottom: 5vw;
}

.main_information img{
	width: 12vw;
	height: 12vw;
	display: inline-block;
}

.main_information div {
	position: relative;
	top: -3vw;
	margin-left: 4vw;
	display: inline-block;
	font-size: 2.8vw;
	color: white;
	line-height: 2vw;
	font-family: Intro;
}

.main_information div p:first-child{
	font-size: 4vw;
}

.add_information p{
	color: white;
	font-size: 2vw;
	line-height: 1vw;
	font-family: Intro;
}

.add_information p:first-child{
	font-size: 3vw;
}


.buttons {
	display: inline-block;
	position: relative;
	top: -20vw;
	left: 20vw;
	font-family: Intro;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.buttons p:last-child{
	position: relative;
	left: 7vw;
	display: inline;
}

.buttons p a {
	text-decoration: none;
	color: white;
	font-size: 2vw;
}

.buttons p a:hover {
	color: #AAA;
}

.buttons p a img {
	width: 4vw;
	height: 4vw;
}

.buttons p a span {
	position: relative;
	top: -0.5vw;
}
