{% extends 'login/main.html' %}
{% load static %}

{% block title %}Статьи{% endblock %}

{% block body %}
		<div class = "loggining-form">
			<p id = "label-text">Войдите чтобы продолжить</p>
			<form action="{% url 'login_in_url' %}" method="post">
                {% csrf_token %}
                {% if login_error %}
                <label class="error">{{ login_error }}</label>
                {% endif %}
                <label>
                    <input type="text" name="username" placeholder = "Логин" autocomplete="off">
                </label><br>
				<input type="password" name="password" placeholder = "Пароль">

				<input type="submit" name="sing_in" value = "Войти">

				<p>Или<p>
				<a href = "{% url 'register_url' %}">Регистрация</a>
			</form>
		</div>
{% endblock %}