<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Регистрация</title>
	<link rel = "stylesheet" href = "{% static 'css/registration_page_style.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id = "logo">
		<a href = "{% url 'home_url' %}"><span>IT</span> stud</a>
	</div>
	<div class = "form">
		<form method="post" action="{% url 'registration_url' %}">
            {% csrf_token %}
            <p id = "info">{{ info }}</p>
            <input type="text" name="username" placeholder="Никнейм" maxlength="15"><br>
			<select name = "course">
				<option value="1">1 курс</option>
				<option value="2">2 курс</option>
				<option value="3">3 курс</option>
				<option value="4">4 курс</option>
			</select><br>
			<input type="password" name="password1" placeholder="Пароль"><br>
			<input type="password" name="password2" placeholder="Повторите пароль"><br>
			<button>Регистрация</button><br>
		</form>
	</div>
</body>
</html>